name: Tests

on:
  pull_request:
  push:
    branches:
      - main
      - release/**

env:
  GO_VERSION: '1.21'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        goarch: ["amd64"]
    timeout-minutes: 5
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - name: build
        run: GOOS=linux GOARCH=${{ matrix.goarch }} go build
        if: env.GIT_DIFF
      - name: test & coverage report creation
        run: |
          GOARCH=${{ matrix.goarch }} go test ./... -mod=readonly -timeout 8m -race -coverprofile=coverage.txt -covermode=atomic
        if: env.GIT_DIFF
      - uses: codecov/codecov-action@v5.1.2
        with:
          file: ./coverage.txt
        if: env.GIT_DIFF
