# lint runs golangci-lint
name: lint

on:
  pull_request:
  push:
    branches:
      - main
      - release/**

env:
  GO_VERSION: '1.24'

jobs:
  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    timeout-minutes: 8
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: golangci/golangci-lint-action@v8.0.0
        with:
          args: --timeout 10m
          github-token: ${{ secrets.github_token }}
